{% load i18n static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="title"
              content="{% block meta_title %}{% endblock meta_title %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% tailwind_css %}
        <script>
          (function() {
            const theme = localStorage.getItem('theme') || 'system';
            const isSystemDark = window.matchMedia('(prefers-color-scheme: dark)').matches;

            // Apply the dark class to prevent FOUC
            if (theme === 'dark' || (theme === 'system' && isSystemDark)) {
              document.documentElement.classList.add('dark');
            } else {
              document.documentElement.classList.remove('dark');
            }

            // Store the initial system preference
            localStorage.setItem('isSystemDark', isSystemDark);

            // Listen for system theme changes
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (event) => {
              localStorage.setItem('isSystemDark', event.matches);
              if (theme === 'system') {
                document.documentElement.classList.toggle('dark', event.matches);
              }
            });
          })();
        </script>
    </head>
    <body class="flex flex-col h-screen font-common {% block body_class %}{% endblock %}">
        {% include 'includes/nav.html' %}
        <div class="mt-auto flex justify-center bg-base-white text-base-fg-black dark:bg-base-black dark:text-base-fg-white">
            <div class="container mb-auto mx-auto w-7/8 {% block extra_top_css %}{% endblock %}">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include 'includes/footer.html' %}
        <script defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {% block extra_media %}{% endblock %}
    </body>
</html>
