{% extends "base.html" %}
{% load static %}
{% block title %}Antoliny's Daily{% endblock %}
{% block meta_title %}Antoliny's Daily{% endblock %}
{% block extra_media %}
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/observeAnimation.js' %}"></script>
{% endblock %}
{% block content %}
    <main>
        <div class="py-12">
            <div class="flex flex-col items-center">
                <h1 class="font-title text-6xl">
                    <span>Antoliny's</span>
                    <span class="relative text-base-brown-600 dark:text-base-brown-200" data-animation="typing" data-typing-items="Life,Daily,Notes,Diary,Journey"></span>
                    <span class="inline-block w-1 h-12 bg-base-brown-600 animate-blink dark:bg-base-brown-200"></span>
                </h1>
                <p class="my-8 font-ui text-xl md:text-2xl">
                    Hello, I’m <b class="text-3xl text-base-brown-600 dark:text-base-brown-200" data-animation="highlight">Antoliny</b>. I enjoy web development and love contributing to open source. Welcome to my space!
                </p>
            </div>
            <div>
                <img class="md:w-100% mx-auto md:w-[80%] lg:w-[70%]"
                     src="{% static 'img/banner.png' %}">
            </div>
        </div>
    </main>
{% endblock %}
